$font-merriweather:"Merriweather", cursive;
$font-roboto:"Roboto", cursive;
$font-robotocondensed:"Roboto Condensed", cursive;
$color-primary:#A9A9A9;
$color-second:#383838;
$color-yellow:#FFD289;
$color-white:#FFF;